.onboarding {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.slider {
    height: 100%;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.progress {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding-top: 20px;
}

.dot {
    width: 25px;
    height: 6px;
    background: #d6d6d6;
    border-radius: 10px;
}

.dot.active {
    background: var(--primary);
}

.slide {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.content img {
    width: 120px;
    margin: 0 auto;
}

.content h1 {
    font-size: 22px;
}

.content p {
    font-size: 14px;
    color: var(--text-light);
}

.actions {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-primary {
    min-width: 120px;
    padding: 14px 24px;
    border: none;
    border-radius: var(--radius);
    background: var(--primary);
    color: white;
    cursor: pointer;
    transition: var(--transition);
}

.btn-primary:hover {
    background: var(--primary-light);
}

.btn-skip {
    width: 50%;
    padding: 8px 14px;
    margin-top: 12px;
    border-radius: 25px;
    border: none;
    background-color: transparent;
    color: #838383;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.btn-skip:hover {
    text-decoration: underline;
}