.onboarding {
    background-color: #f3f3f3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    max-width: 400px;
}

.progress {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 30px;
}

.dot {
    width: 25px;
    height: 6px;
    background: #d6d6d6;
    border-radius: 10px;
}

.dot.active {
    background: var(--primary);
}

.slide {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content img {
    width: 120px;
    margin: 0 auto;
}

.content h1 {
    font-size: 22px;
}

.content p {
    font-size: 14px;
    color: var(--text-light);
}

.actions {
    margin-top: 30px;
}

.btn-primary {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: var(--radius);
    background: var(--primary);
    color: white;
    cursor: pointer;
    transition: var(--transition);
}

.btn-primary:hover {
    background: var(--primary-light);
}

.btn-skip {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 25px;
    border: none;
    background: rgba(110, 44, 145, 0.12);
    color: var(--primary);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: var(--transition);
}

.btn-skip:hover {
    background: rgba(110, 44, 145, 0.18);
}